<header class="d-flex justify-content-between m-4 content">
  <img src="/assets/LOgO.png" alt="" class="ms-3" height="100%">
  <p class="mt-3 me-5"> New User? <a class="text-decoration-none cursor-pointer">SignUp</a></p>
</header>
<div class="container content">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/login-01 (1).png" alt="" width="90%" height="100%">
    </div>
    <div class="col-md-6">
      <es-login-form
      [esLoginForm]="esLoginForm"
      (outputEmitter)="outputEmitter($event)"
      ></es-login-form>
    </div>
  </div>
</div>

<!-- border rounded border-white shadow-lg bg-white  -->
