.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.15);
  /* box-shadow: 3px 2px 3px rgb(137, 137, 137); */
  transition: all 1s ease;
}

