<header class="d-flex justify-content-between m-4 content">
  <img src="/assets/LOgO.png" alt="" class="ms-3" height="100%">
  <p class="mt-3 me-5 fw-semibold"> Go to
    <a class="text-decoration-none color-blue cursor-pointer"
       href="http://localhost:4200/es-login/sign-in">Login</a></p>
</header>
<div class="container text-center">
  <div class="row mt-5 w-50 position-absolute top-50 start-50 translate-middle">
    <img src="/assets/404 Error-01.png" alt="404 Page Not Found">
  </div>
  <div>
    <h1 class="fw-bold color-blue content">Page Not Found</h1>
  </div>
</div>
